<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 01. First bean in our XML Inside our file we want to use the implementation 
		but reference the interface. So, here we are mentioning the actual implementation 
		of the class that is supposed to be used.(Application.java) -->
	<bean name="customerRepository"
		class="com.pluralsight.a.setterinjection.repository.HibernateCustomerRepositoryImpl" />
	<!-- 02. Where we are going to place our business logic -->
	<bean name="customerService" class="com.pluralsight.a.setterinjection.service.CustomerServiceImpl">
		<!-- 05. Adding property element by name, so here property customerRepository in CustomerServiceImpl
			refers to the bean customerRepository above hence to com.pluralsight.repository.HibernateCustomerRepositoryImpl -->
			
		<property name="customerRepository" ref="customerRepository" />
	</bean>
	
<!-- 	
	For understanding
	<bean name="foo"
		class="com.pluralsight.a.setterinjection.repository.HibernateCustomerRepositoryImpl" />
	<bean name="customerService" class="com.pluralsight.a.setterinjection.service.CustomerServiceImpl">	
		<property name="customerRepository" ref="foo" />
	</bean> 
	-->
</beans>
